BR2_arcle=y
BR2_archs38=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_OVERLAY="board/synopsys/generic/fs-overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/synopsys/generic/post-image.sh"
BR2_PACKAGE_RT_TESTS=y
BR2_PACKAGE_FB_TEST_APP=y
BR2_TARGET_ROOTFS_CPIO=y
